# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus
# for more details
'context-menu':
  'atom-text-editor': [
      'label': 'Breakpoints'
      'submenu': [
        { label: 'Add', command: 'byebug-breakpoints:set' }
        { label: 'Remove',command: 'byebug-breakpoints:clear' }
        { label: 'Remove all', command: 'byebug-breakpoints:clear_all' }
        { label: 'Remove from file', command: 'byebug-breakpoints:clear_file' }
        { label: 'Toggle', command: 'byebug-breakpoints:toggle-breakpoint' }
      ]
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Breakpoints'
      'submenu': [
        { label: 'Add', command: 'byebug-breakpoints:set' }
        { label: 'Remove',command: 'byebug-breakpoints:clear' }
        { label: 'Remove all', command: 'byebug-breakpoints:clear_all' }
        { label: 'Remove from file', command: 'byebug-breakpoints:clear_file' }
        { label: 'Toggle', command: 'byebug-breakpoints:toggle-breakpoint' }
      ]
    ]
  }
]
